@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");

$box-shadow : 0 .5rem 1rem rgba(0, 0, 0, .2);
$border : 2px solid #c3c6ce;
$blue : #004b82;
$black : #333;
$white : #fff;
$light-blue: #2980b9;
$dark-blue: #00093c;
$red: #cb0014e3;
$light-red: #f55858;
$orange: #f39c12;
$gold : gold;
$light-color : #666;
$light-grey: #828daa;
$light-bg: #bbb;

:root {
    --header-height: 3rem;
    --nav-width: 68px;
    --first-color: #004b82;
    --first-color-light: #AFA5D9;
    --white-color: #F7F6FB;
    --body-font: 'Nunito', sans-serif;
    --normal-font-size: 1rem;
    --z-fixed: 100 --elevation-base-color: black;
}

html {
    scroll-behavior: smooth;
}

*,
::before,
::after {
    box-sizing: border-box
}

body {
    position: relative;
    margin: var(--header-height) 0 0 0;
    padding: 0 1rem;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    transition: .5s
}

a {
    text-decoration: none
}

.messageErr,
.messageSuc {
    position: sticky;
    top: 64px;
    left: 0;
    right: 0;
    padding: 15px 10px;
    background-color: rgba(49, 49, 49, 0.6);
    text-align: center;
    z-index: 1000;
    box-shadow: $box-shadow;
    color: $white;
    font-size: 20px;
    text-transform: capitalize;
    cursor: pointer;
}

.success-message {
    background-color: #5cb85c;
    color: #f7f7f7;
    padding: 1rem;
    width: 75%;
    margin: 6rem auto -5rem auto;
    cursor: pointer;
    border-radius: .25rem;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
}

.error {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #d9534f;
    color: #f7f7f7;
    padding: 1rem;
    width: 75%;
    cursor: pointer;
    border-radius: .25rem;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
}

.success {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #5cb85c;
    color: #f7f7f7;
    padding: 1rem;
    width: 75%;
    cursor: pointer;
    border-radius: .25rem;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
}

.error-message {
    background-color: #d9534f;
    color: #f7f7f7;
    padding: 1rem;
    width: 75%;
    margin: 6rem auto -5rem auto;
    cursor: pointer;
    border-radius: .25rem;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
}

#searchBox {
    text-align: center;
}

// body {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     height: 100vh;
//     margin: 0;
// }

.building-map,
.building-mapS,
.building-mapboy {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-gap: 5px;
    margin: 3rem auto;
    max-width: 60rem;
}

.building-mapS {
    grid-template-columns: repeat(15, 1fr);
}

.building-mapboy {
    grid-template-columns: repeat(11, 1fr);
    max-width: 50rem;

}

.room {
    width: 60px;
    height: 60px;
    color: white;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    cursor: pointer;
}

.stock {
    background-image: url(../images/stock.png);
    cursor: not-allowed;
}

/* Updated divider styling */
.divider {
    grid-column: 10;
    border: 2px solid #333;
    /* thicker and darker border to represent a wall */
    height: 100%;
    /* extend the height to fill the entire row */
    background-color: #666;
    /* background color for the wall */
}


/**************************************************************************************************************************************************************************/
/******************************************************************************* Header CSS *******************************************************************************/
/**************************************************************************************************************************************************************************/
.header {
    width: 100%;
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    background-color: var(--white-color);
    z-index: 1;
    transition: .5s;
    box-shadow: 0 2px 2px 0 rgba(black, .14), 0 3px 1px -2px rgba(black, .12), 0 1px 5px 0 rgba(black, .20);

    .header_toggle {
        color: var(--first-color);
        font-size: 1.5rem;
        cursor: pointer
    }

    .action {
        position: fixed;
        right: 50px;

        .profile {
            position: relative;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            overflow: hidden;
            cursor: pointer;
        }

        .profile img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .menu.active {
            background-color: white;
            box-shadow: 0 2px 2px 0 rgba(black, .14), 0 3px 1px -2px rgba(black, .12), 0 1px 5px 0 rgba(black, .20);
            top: 44px;
            visibility: visible;
            opacity: 1;
            display: block;
            /* Show the menu when the active class is applied */
        }

        .menu {
            display: none;
            /* Hide the menu by default */
            position: absolute;
            top: 120px;
            right: -40px;
            padding: 10px 20px;
            background: #fff;
            width: 300px;
            box-sizing: 0 5px 25px rgba(0, 0, 0, 0.1);
            border-radius: 15px;
            transition: 0.5s;
            visibility: hidden;
            opacity: 0;

            &:before {
                content: "";
                position: absolute;
                top: -5px;
                right: 50px;
                width: 20px;
                height: 20px;
                background: #fff;
                transform: rotate(45deg);
            }

            h3 {
                width: 100%;
                text-align: center;
                font-size: 18px;
                padding: 20px 0;
                font-weight: 700;
                color: #555;
                line-height: 1.5em;

                span {
                    font-size: 14px;
                    color: #cecece;
                    font-weight: 300;
                }
            }

            ul li {
                list-style: none;
                padding: 16px 0;
                border-top: 1px solid rgba(0, 0, 0, 0.05);
                display: flex;
                align-items: center;

                img {
                    max-width: 20px;
                    margin-right: 10px;
                    opacity: 0.5;
                    transition: 0.5s;
                }

                &:hover img {
                    opacity: 1;
                }

                a {
                    display: inline-block;
                    text-decoration: none;
                    color: #555;
                    font-weight: 500;
                    transition: 0.5s;
                }

                &:hover a {
                    color: #00162e;
                }
            }
        }
    }

    .header_txt {
        margin: 5px auto 0 0;
        padding: 20px;
    }
}

/******************************************************************************* Search CSS *******************************************************************************/

.dechargeSearch,
.internatSearch {
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

.box {
    width: 500px;
    height: 50px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding: 20px;
}

.box>i {
    font-size: 20px;
    color: #2c2c2c;
}

.box>input {
    flex: 1;
    height: 40px;
    border: none;
    outline: none;
    font-size: 18px;
    padding-left: 10px;
}

.left {
    margin-right: 7rem;

    .search-container {
        display: inline;
        position: relative;

        #search {
            color: #000;
            text-transform: capitalize;
            position: absolute;
            top: -0.8rem;
            right: 0;
            height: 0;
            width: 0;
            font-size: 1rem;
            padding: 0 1rem;
            border: none;
            outline: none;
            border-radius: 5rem;
            transition: all 0.2s ease-in-out;

            &:hover {
                width: 20rem;
                height: 3rem;
                margin-right: 10px;
            }
        }

        .fa-search {
            position: absolute;
            left: -5rem;
            font-size: 1.2rem;
            cursor: pointer;
            z-index: 1;
            transition: all 0.2s ease-in-out;

            &:hover {
                color: $blue;
            }
        }
    }

    .notification-icon {

        .fa-bell {
            font-size: 1.2rem;
            color: black;
            cursor: pointer;
            transition: all 0.2s ease-in-out;

            &:hover {
                color: red;
            }

        }

        .notification-count {
            position: absolute;
            top: 10px;
            right: 8.5rem;
            color: red;
            font-size: 12px;
            font-weight: bolder;
            text-decoration: solid;
        }
    }

    #search-results {
        position: absolute;
        top: 100%;
        right: 60px;
        width: 25rem;
        max-height: 50rem;
        overflow-y: scroll;
        background-color: rgb(255, 255, 255);
        padding: 1rem;
        box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
        z-index: 2;
        display: none;
        border-radius: 0 0 0 2rem;

        .search-result {
            display: flex;
            align-items: center;
            padding: 0.5rem;
            margin-top: 0.5rem;
            border: $border;
            border-radius: 0.5rem;
            transition: all 0.3s ease-in-out;
            cursor: pointer;

            &:hover {
                transform: translateY(-0.25rem);
                box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
            }

            img {
                width: 5rem;
                height: 5rem;
                margin-right: 1rem;
                border-radius: 0.5rem;
                transition: all 0.3s ease-in-out;
            }

            &:hover img {
                transform: scale(1.1);
            }

            span {
                font-size: 16px;
            }

            p {
                font-size: 16px;
                display: flex;
                margin: auto;
            }
        }
    }
}

/**************************************************************************************************************************************************************************/
/******************************************************************************* Navbar CSS *******************************************************************************/
/**************************************************************************************************************************************************************************/
.l-navbar {
    position: fixed;
    top: 0;
    left: -30%;
    width: var(--nav-width);
    height: 100vh;
    background-color: var(--first-color);
    padding: .5rem 1rem 0 0;
    transition: .5s;
    z-index: 2;

    .nav {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow: hidden;

        .nav_logo,
        .nav_link {
            display: grid;
            grid-template-columns: max-content max-content;
            align-items: center;
            column-gap: 1rem;
            padding: .5rem 0 .5rem 1.5rem;

            span {
                width: 12rem;
            }
        }

        .nav_logo-icon {
            font-size: 1.25rem;
            color: var(--white-color);
        }

        .nav_logo-name {
            color: var(--white-color);
            font-weight: 700;
        }

        .nav_link {
            position: relative;
            color: var(--first-color-light);
            margin-bottom: 1rem;
            transition: .3s;

            &:hover {
                color: var(--white-color);
            }
        }

        .nav_icon {
            font-size: 1.25rem;
        }

        .show {
            left: 0;
        }

        .body-pd {
            padding-left: calc(var(--nav-width) + 1rem);
        }

        .active {
            color: var(--white-color);
        }

        .active::before {
            content: '';
            position: absolute;
            left: 0;
            width: 2px;
            height: 32px;
            background-color: var(--white-color);
        }

        .height-100 {
            height: 100vh;
        }
    }
}

/******************************************************************************* Navbar @media CSS *******************************************************************************/

@media screen and (min-width: 768px) {
    body {
        background-color: #ebedef;
        margin: calc(var(--header-height) + 1rem) 0 0 0;
        padding-left: calc(var(--nav-width) + 2rem)
    }

    .header {
        height: calc(var(--header-height) + 1rem);
        padding: 0 2rem 0 calc(var(--nav-width) + 2rem)
    }

    .header_img {
        width: 40px;
        height: 40px
    }

    .header_img img {
        width: 45px;
        height: 45px;
        object-fit: cover;
    }

    .l-navbar {
        left: 0;
        padding: 1rem 1rem 0 0
    }

    .show {
        width: calc(var(--nav-width) + 156px)
    }

    .body-pd {
        padding-left: calc(var(--nav-width) + 188px)
    }
}

/**************************************************************************************************************************************************************************/
/******************************************************************************* Building buttons CSS *******************************************************************************/
/**************************************************************************************************************************************************************************/
.building {
    margin-top: 5rem;
    text-align: center;

    button {
        transition: all 0.3s ease-in-out;
        font-family: "Dosis", sans-serif;
        width: 9rem;
        height: 50px;
        border-radius: 50px;
        outline: none;
        cursor: pointer;
        border: none;
        font-size: 16px;
        color: white;

        &:hover {
            transform: translateY(3px);
            box-shadow: none;
        }

        &:active {
            opacity: 0.5;
        }
    }

    .boy {
        background-image: linear-gradient(135deg, #9492fe 0%, #0d09f8 100%);
        box-shadow: 0 20px 30px -6px rgba(39, 138, 231, 0.5);
    }

    .girl {
        background-image: linear-gradient(135deg, #fe9492 0%, #f809e4 100%);
        box-shadow: 0 20px 30px -6px rgba(255, 0, 157, 0.5);
    }

}

/**************************************************************************************************************************************************************************/
/******************************************************************************* Building CSS *******************************************************************************/
/**************************************************************************************************************************************************************************/
#roomMap {
    margin: 7rem auto;

    .building {
        fill: none;
        stroke: #333;
        stroke-width: 2px;
    }

    .bathroom {
        fill: blue;
        stroke: #fff;
        stroke-width: 2px;
    }

    .stairs {
        fill: #505050;
        stroke: #fff;
        stroke-width: 2px;
    }

    .divider {
        fill: none;
        stroke: #333;
        stroke-width: 2px;
    }

    .roomNumber {
        font-family: Arial, sans-serif;
        font-size: 12px;
        fill: white;
        text-anchor: middle;
    }
}

#legend {
    width: 40rem;
    height: 7rem;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 10px;
    border: 2px solid black;
}

.legend-item {
    display: flex;
    align-items: center;
}

.legend-color {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border: 1px solid black;
}

.legend-label {
    font-size: 14px;
    font-weight: 600;
}

/**************************************************************************************************************************************************************************/
/******************************************************************************* Popup CSS *******************************************************************************/
/**************************************************************************************************************************************************************************/
.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    font-size: 13px;
    padding: 20px;
    border-radius: 20px;
    background: #f5f5f5;
    border: $border;
    transition: 0.5s ease-out;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 3;

    .submit {
        font-family: monospace;
        font-size: 0.6rem;
        color: #FAFAFA;
        padding: 7px 10px;
        border-radius: 20px;
        background: #00a050;
        box-shadow: $box-shadow;
        cursor: pointer;
        margin: 15px 10px;

        &:active {
            box-shadow: none;
            transform: translate(3px, 3px);
        }
    }

    img {
        width: 100px;
        height: 100px;
        border: $border;
        box-shadow: $box-shadow;
        border-radius: 10px;

    }

    p {
        margin-top: 1.5rem;
        font-weight: bold;
    }

    /* Add this CSS to your existing styles */
    #popupImages {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .image-row {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        /* Adjust as needed */
    }

    .image-container {
        width: 23%;
        /* Adjust as needed to leave some space between images */
        box-sizing: border-box;

        img {
            width: 100%;
            height: 50%;
            border: $border;
            /* Add a border for separation */
            border-radius: 8px;
            /* Optional: Add border-radius for rounded corners */
        }
    }

    .student-container {
        border-radius: 20px;
        background: #f5f5f5;
        position: relative;
        padding: 10px;
        margin: 10px;
        width: min-content;
        border: $border;
        transition: 0.5s ease-out;
        overflow: visible;
        text-align: center;

        &:hover {
            border-color: #008bf8;
            box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);

            .student-container-button {
                transform: translate(-50%, 50%);
                opacity: 1;
                width: max-content;
                font-size: 12px;
            }
        }
    }

    .student-container-button {
        transform: translate(-50%, 125%);
        width: max-content;
        border-radius: 1rem;
        border: none;
        background-color: #008bf8;
        color: #fff;
        font-size: 1rem;
        padding: .5rem 1rem;
        position: absolute;
        left: 50%;
        bottom: 0;
        opacity: 0;
        transition: 0.3s ease-out;
    }

    .student-list-item {
        display: grid;
        padding: 10px;
        cursor: pointer;

        &:hover {
            scale: 1.1;
        }
    }

    #studentList {
        display: flex;
        max-width: min-content;

    }

    .edit-room-container {
        display: flex;
        justify-content: center;
        /* Center horizontally */
        align-items: center;
        /* Center vertically */
        margin: auto;
        padding-top: 10px;

        .edit-room-button {
            margin-top: 2rem;
            position: relative;
            transition: all 0.3s ease-in-out;
            box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
            padding-block: 0.5rem;
            padding-inline: 1.25rem;
            background-color: rgb(0 107 179);
            border-radius: 9999px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #ffff;
            gap: 10px;
            font-weight: bold;
            border: 3px solid #ffffff4d;
            outline: none;
            overflow: hidden;
            font-size: 15px;

            .icon {
                transition: all 0.3s ease-in-out;
            }

            &:hover {
                transform: scale(1.05);
                border-color: #fff9;
            }

            &:hover .icon {
                transform: translate(4px);
            }

            &:hover::before {
                animation: shine 1.5s ease-out infinite;
            }

            &::before {
                content: "";
                position: absolute;
                width: 100px;
                height: 100%;
                background-image: linear-gradient(120deg,
                        rgba(255, 255, 255, 0) 30%,
                        rgba(255, 255, 255, 0.8),
                        rgba(255, 255, 255, 0) 70%);
                top: 0;
                left: -100px;
                opacity: 0.6;
            }
        }

        @keyframes shine {
            0% {
                left: -100px;
            }

            60% {
                left: 100%;
            }

            to {
                left: 100%;
            }
        }
    }
}

/******************************************************************************* info-popup ******************************************************************************/

.info-popup {
    --bg: #e8e8e8;
    --contrast: #e2e0e0;
    --grey: #93a1a1;
    padding: 9px;
    display: none;
    max-width: fit-content;
    background-color: var(--bg);
    border-radius: 35px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #ccc;
    z-index: 999;

    img {
        height: 100px;
        width: 100px;
        margin: auto;
        display: grid;
        border: $border;
        box-shadow: $box-shadow;
        border-radius: 10px;

    }

    p {
        font-weight: bold;
    }

    .name {
        margin-top: 10px;
    }

    .card-inner {
        display: contents;
        font-size: 13px;
        font-weight: 500;
        text-align: center;
    }

    button {
        font-size: 15px;
        max-width: min-content;
        padding: 10px 20px;
        margin-right: 15px;
        border: $border;
        box-shadow: $box-shadow;
        border-radius: 10px;

        &:hover {
            scale: 1.1;
        }
    }
}

/**************************************************************************************************************************************************************************/
/***************************************************************************** roomList CSS *******************************************************************************/
/**************************************************************************************************************************************************************************/
.RoomList {
    margin-top: 1rem;

    .filters {
        margin-bottom: 20px;
    }

    .pagination-container {
        text-align: center;
        margin-top: 20px;
        clear: both;
    }

    #data-table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;

        th,
        td {
            padding: 12px;
            text-align: -webkit-center;
            border: 1px solid #ddd;
            width: 120px;
        }

        th {
            background-color: #f2f2f2;
            text-align: center;
        }
    }

    tbody tr:nth-child(even) {
        background-color: #f9f9f9;
    }

    .pagination {
        display: inline-block;
        padding: 0;
        margin: 0;
        list-style: none;
        margin-bottom: 3rem;

        li {
            display: inline-flex;
            margin-right: 5px;
            background-color: #428bca;
            border-radius: 50%;
            height: 2rem;
            justify-content: center;

            a {
                text-decoration: none;
                color: #ffffff;
                padding: 10px;
                border-radius: 3px;
                display: flex;
                place-items: center;
                background-color: #428bca;

                &:hover {
                    background-color: darken(#428bca, 10%);
                }
            }

            &.active {
                a {
                    background-color: darken(#428bca, 20%);
                }
            }
        }
    }

    /* Responsive Styles */
    @media screen and (max-width: 768px) {

        th,
        td {
            width: auto;
        }
    }
}

.row {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    /* Allow columns to wrap to the next line on smaller screens */
}

.column {
    flex: 1;
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    margin-bottom: 20px;
    /* Add margin between columns on smaller screens */

    h2 {
        font-size: 20px;
        margin-bottom: 10px;
        color: #333;
    }

    p {
        font-size: 20px;
        margin-bottom: 5px;
    }
}


/**************************************************************************************************************************************************************************/
/***************************************************************************** Decharge CSS *******************************************************************************/
/**************************************************************************************************************************************************************************/
.discharge-container {
    display: flex;
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
    margin: auto;
    padding-top: 10px;

    .discharge-button {
        transition: all 0.3s ease-in-out;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
        padding-block: 0.5rem;
        padding-inline: 1.25rem;
        background-color: rgb(0 107 179);
        border-radius: 9999px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #ffff;
        gap: 10px;
        font-weight: bold;
        border: 3px solid #ffffff4d;
        outline: none;
        overflow: hidden;
        font-size: 15px;

        .icon {
            transition: all 0.3s ease-in-out;
        }

        &:hover {
            transform: scale(1.05);
            border-color: #fff9;
        }

        &:hover .icon {
            transform: translate(4px);
        }

        &:hover::before {
            animation: shine 1.5s ease-out infinite;
        }

        &::before {
            content: "";
            position: absolute;
            width: 100px;
            height: 100%;
            background-image: linear-gradient(120deg,
                    rgba(255, 255, 255, 0) 30%,
                    rgba(255, 255, 255, 0.8),
                    rgba(255, 255, 255, 0) 70%);
            top: 0;
            left: -100px;
            opacity: 0.6;
        }
    }

    @keyframes shine {
        0% {
            left: -100px;
        }

        60% {
            left: 100%;
        }

        to {
            left: 100%;
        }
    }
}

.validate,
.validateDecharge {
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    padding-block: 0.5rem;
    padding-inline: 1.25rem;
    background-color: #5cb85c;
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffff;
    gap: 10px;
    font-weight: bold;
    border: 3px solid #ffffff4d;
    outline: none;
    overflow: hidden;
    font-size: 15px;
}

.validate:hover {
    color: white;
    transform: scale(1.05);
    border-color: #fff9;
}

.validate:hover::before {
    animation: shine 1.5s ease-out infinite;
}

.validate::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 100%;
    background-image: linear-gradient(120deg,
            rgba(255, 255, 255, 0) 30%,
            rgba(255, 255, 255, 0.8),
            rgba(255, 255, 255, 0) 70%);
    top: 0;
    left: -100px;
    opacity: 0.6;
}

.blue {
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    padding-block: 0.5rem;
    padding-inline: 1.25rem;
    background-color: rgb(0 107 179);
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffff;
    gap: 10px;
    font-weight: bold;
    border: 3px solid #ffffff4d;
    outline: none;
    overflow: hidden;
    font-size: 15px;

    .icon {
        transition: all 0.3s ease-in-out;
    }

    &:hover {
        transform: scale(1.05);
        border-color: #fff9;
    }

    &:hover .icon {
        transform: translate(4px);
    }

    &:hover::before {
        animation: shine 1.5s ease-out infinite;
    }

    &::before {
        content: "";
        position: absolute;
        width: 100px;
        height: 100%;
        background-image: linear-gradient(120deg,
                rgba(255, 255, 255, 0) 30%,
                rgba(255, 255, 255, 0.8),
                rgba(255, 255, 255, 0) 70%);
        top: 0;
        left: -100px;
        opacity: 0.6;
    }
}

@keyframes shine {
    0% {
        left: -100px;
    }

    60% {
        left: 100%;
    }

    to {
        left: 100%;
    }
}

.reject {
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    padding-block: 0.5rem;
    padding-inline: 1.25rem;
    background-color: #ca4b4b;
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffff;
    gap: 10px;
    font-weight: bold;
    border: 3px solid #ffffff4d;
    outline: none;
    overflow: hidden;
    font-size: 15px;
}

.reject {
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    padding-block: 0.5rem;
    padding-inline: 1.25rem;
    background-color: #ca4b4b;
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffff;
    gap: 10px;
    font-weight: bold;
    border: 3px solid #ffffff4d;
    outline: none;
    overflow: hidden;
    font-size: 15px;
}

.reject:hover {
    color: white;
    transform: scale(1.05);
    border-color: #fff9;
}

.reject:hover::before {
    animation: shine 1.5s ease-out infinite;
}

.reject::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 100%;
    background-image: linear-gradient(120deg,
            rgba(255, 255, 255, 0) 30%,
            rgba(255, 255, 255, 0.8),
            rgba(255, 255, 255, 0) 70%);
    top: 0;
    left: -100px;
    opacity: 0.6;
}

.notification-dropdown {
    position: absolute;
    top: 4.5rem;
    /* Adjust as needed based on your layout */
    right: 7rem;
    width: 300px;
    /* Adjust the width as needed */
    background-color: #fff;
    border: $border;
    border-radius: 20px;
    box-shadow: $box-shadow;
    z-index: 1000;
    display: none;
}

.notification-item {
    padding: 10px;
    border-radius: 20px;
    border-bottom: 1px solid #ddd;
    transition: background-color 0.3s;
}

.notification-item p {
    margin: 0;
}

.notification-item:hover {
    background-color: #f5f5f5;
}

/**************************************************************************************************************************************************************************/
/******************************************************************************* Login CSS *******************************************************************************/
/**************************************************************************************************************************************************************************/
.btn {
    width: 100%;
    margin-bottom: 15px;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary,
.btn-primary:active:focus,
.btn-primary:active:hover,
.btn-primary.active:hover,
.btn-primary.active:focus {
    background-color: $blue;
    border-color: $blue;
}

.ibox-content {
    background-color: #ffffff;
    color: inherit;
    padding: 15px 20px 20px 20px;
    border-color: #e7eaec;
    -o-border-image: none;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 0;
}

.loginColumns {
    max-width: 700px;
}

.password-cont {
    position: relative;
}

.password-cont input {
    padding-right: 15px;
}

.password-cont i {
    position: absolute;
    top: 9px;
    right: 10px;
    color: #555;
    font-size: 15px;
    opacity: 0;
    transition: 0.3s;
}

.password-cont input:hover+i,
.password-cont i:hover {
    opacity: 1;
}

.loginColumns {
    max-width: 800px;
    margin: 0 auto;
    padding: 100px 20px 20px 20px;
}

/**************************************************************************************************************************************************************************/
/******************************************************************************* Update CSS *******************************************************************************/
/**************************************************************************************************************************************************************************/

.update-profile {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;

    form {
        padding: 20px;
        background-color: rgba(255, 255, 255);
        border: $border;
        box-shadow: $box-shadow;
        text-align: center;
        width: 70%;
        text-align: center;
        border-radius: 5px;

        img {
            height: 200px;
            width: 200px;
            border-radius: 50%;
            margin-bottom: 5px;
        }

        .flex {
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
            gap: 15px;

            .inputBox {
                width: 49%;
            }

            #info {
                border-right: $border;
                padding-right: 2rem;
            }

            #pass {
                padding-left: 1rem;
                align-self: center;
            }

            h3 {
                margin: 1rem 0 2rem 0;
                font-weight: 600;
            }

            .required {
                display: flex;
                margin: 1rem auto 1rem auto;
                justify-content: center;
            }

            .box {
                width: 100%;
                height: 55px;
                margin-bottom: 20px;
                outline: none;
                background: whitesmoke;
                font-size: 15px;
                text-align: center;
                border-radius: 5px;
                transition: 0.5s;
                transition-property: border-left, border-right, box-shadow;
                border-radius: 5px;
                border: 1px solid grey;
                padding: 12px 14px;

                &:hover,
                &:focus,
                &:active {
                    border-left: solid 5px $blue;
                    border-right: solid 5px $blue;
                    box-shadow: 0 0 5px $blue;
                    border-top: 2px solid $blue;
                    border-bottom: 2px solid $blue;
                    transition: 0.3s ease;
                }
            }

            .field {
                display: flex;
                justify-content: center;
                align-items: center;
                border-bottom: $border;
                margin-bottom: 25px;

                &:hover .ua,
                &:focus-within .ua,
                &:active .ua {
                    color: $blue;
                    transition: 0.3s ease;
                }

                .ua {
                    color: $light-grey;
                    font-size: 1.5rem;
                    margin-right: 10px;
                    margin-bottom: 17px;

                }

                input[type="text"]#country_selector,
                input[type="tel"]#phone {
                    height: 35px;
                    font-size: 100%;
                    width: 100%;
                    border-radius: 5px;
                    margin: 10px 0;
                }
            }
        }

        .btn,
        .delete-btn {
            border-radius: 5px;
            padding: 10px 20px;
            display: block;
            text-align: center;
            cursor: pointer;
            font-size: 20px;
            width: max-content;
            margin: 10px auto 10px auto;
            color: white;
        }

        .btn {
            background-color: $blue;

            &:hover {
                background-color: $light-blue;
            }
        }

        .delete-btn {
            background-color: $red;

            &:hover {
                background-color: $light-red;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .update-profile {
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2rem 0 2rem 0;

        form {
            padding: 20px;
            background-color: rgba(255, 255, 255);
            border: $border;
            box-shadow: $box-shadow;
            text-align: center;
            width: 70%;
            text-align: center;
            border-radius: 5px;

            img {
                height: 200px;
                width: 200px;
                border-radius: 50%;
                margin-bottom: 5px;
            }

            .flex {
                display: flex;
                flex-direction: column;
                /* Change to column on small screens */
                gap: 15px;

                .inputBox {
                    width: 100%;
                    /* Full width on small screens */
                }

                #info,
                #pass {
                    padding: 0;
                    /* Remove padding on small screens */
                    border: none;
                    /* Remove border on small screens */
                    text-align: center;
                }

                h3 {
                    margin: 1rem 0 2rem 0;
                    font-weight: 600;
                }

                .required {
                    display: flex;
                    margin: 1rem auto 1rem auto;
                    justify-content: center;
                }

                .box {
                    width: 100%;
                }

                .field {
                    display: flex;
                    flex-direction: column;
                    /* Change to column on small screens */
                    align-items: center;
                    /* Center align on small screens */
                    border-bottom: $border;
                    margin-bottom: 25px;

                    .ua {
                        margin-bottom: 5px;
                        /* Adjust margin on small screens */
                    }

                    input[type="text"]#country_selector,
                    input[type="tel"]#phone {
                        width: 100%;
                    }
                }
            }

            .btn,
            .delete-btn {
                margin: 10px auto 0 auto;
                /* Adjust margin on small screens */
            }
        }

        @media screen and (max-width: 600px) {
            form {
                width: 100%;
                /* Adjust width for smaller screens */
            }
        }
    }
}

/**************************************************************************************************************************************************************************/
/******************************************************************************* Demande CSS *******************************************************************************/
/**************************************************************************************************************************************************************************/
.validate {
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    padding-block: 0.5rem;
    padding-inline: 1.25rem;
    background-color: #5cb85c;
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    gap: 10px;
    font-weight: bold;
    border: 3px solid rgba(255, 255, 255, 0.3019607843);
    outline: none;
    overflow: hidden;
    font-size: 15px;
}

.validate:hover {
    color: white;
    transform: scale(1.05);
    border-color: rgba(255, 255, 255, 0.6);
}

.validate:hover::before {
    animation: shine 1.5s ease-out infinite;
}

.validate::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 100%;
    background-image: linear-gradient(120deg, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0) 70%);
    top: 0;
    left: -100px;
    opacity: 0.6;
}

.reject {
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    padding-block: 0.5rem;
    padding-inline: 1.25rem;
    background-color: #ca4b4b;
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    gap: 10px;
    font-weight: bold;
    border: 3px solid rgba(255, 255, 255, 0.3019607843);
    outline: none;
    overflow: hidden;
    font-size: 15px;
}

.reject:hover {
    color: white;
    transform: scale(1.05);
    border-color: rgba(255, 255, 255, 0.6);
}

.reject:hover::before {
    animation: shine 1.5s ease-out infinite;
}

.reject::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 100%;
    background-image: linear-gradient(120deg, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0) 70%);
    top: 0;
    left: -100px;
    opacity: 0.6;
}

.bar {
    fill: steelblue;
}

.bar:hover {
    fill: orange;
}

.axis-x text {
    font-size: 12px;
}

.axis-y text {
    font-size: 12px;
}

.arc {
    stroke: #fff;
}

#boychart,
#girlchart {
    display: flex;
    margin: auto;
}

#piechart-container,
#chart-container {
    margin-top: 3rem;
    margin-bottom: 3rem;
    text-align: center;
}

#search-results {
    width: 32rem;
    margin: 5px auto 0;
    max-height: 50rem;
    overflow-y: scroll;
    background-color: rgb(255, 255, 255);
    padding: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
    border-radius: 0 0 0 2rem;
    display: none;

    .search-result {
        display: flex;
        align-items: center;
        padding: 0.5rem;
        margin-top: 0.5rem;
        border: $border;
        border-radius: 0.5rem;
        transition: all 0.3s ease-in-out;
        cursor: pointer;

        &:hover {
            transform: translateY(-0.25rem);
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
        }

        img {
            object-fit: cover;
            margin-right: 1rem;
            border-radius: 0.5rem;
            transition: all 0.3s ease-in-out;
        }

        &:hover img {
            transform: scale(1.1);
        }

        span {
            font-size: 16px;
        }

        p {
            font-size: 16px;
            display: flex;
            margin: auto;
        }
    }
}