@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");
:root {
  --header-height: 3rem;
  --nav-width: 68px;
  --first-color: #004b82;
  --first-color-light: #AFA5D9;
  --white-color: #F7F6FB;
  --body-font: "Nunito", sans-serif;
  --normal-font-size: 1rem;
  --z-fixed: 100 --elevation-base-color: black;
}

html {
  scroll-behavior: smooth;
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  position: relative;
  margin: var(--header-height) 0 0 0;
  padding: 0 1rem;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  transition: 0.5s;
}

a {
  text-decoration: none;
}

.messageErr,
.messageSuc {
  position: sticky;
  top: 64px;
  left: 0;
  right: 0;
  padding: 15px 10px;
  background-color: rgba(49, 49, 49, 0.6);
  text-align: center;
  z-index: 1000;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: 20px;
  text-transform: capitalize;
  cursor: pointer;
}

.success-message {
  background-color: #5cb85c;
  color: #f7f7f7;
  padding: 1rem;
  width: 75%;
  margin: 6rem auto -5rem auto;
  cursor: pointer;
  border-radius: 0.25rem;
  font-size: 15px;
  font-weight: 400;
  text-align: center;
}

.error {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #d9534f;
  color: #f7f7f7;
  padding: 1rem;
  width: 75%;
  cursor: pointer;
  border-radius: 0.25rem;
  font-size: 15px;
  font-weight: 400;
  text-align: center;
}

.success {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #5cb85c;
  color: #f7f7f7;
  padding: 1rem;
  width: 75%;
  cursor: pointer;
  border-radius: 0.25rem;
  font-size: 15px;
  font-weight: 400;
  text-align: center;
}

.error-message {
  background-color: #d9534f;
  color: #f7f7f7;
  padding: 1rem;
  width: 75%;
  margin: 6rem auto -5rem auto;
  cursor: pointer;
  border-radius: 0.25rem;
  font-size: 15px;
  font-weight: 400;
  text-align: center;
}

/**************************************************************************************************************************************************************************/
/******************************************************************************* Header CSS *******************************************************************************/
/**************************************************************************************************************************************************************************/
.header {
  width: 100%;
  height: var(--header-height);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  background-color: var(--white-color);
  z-index: var(--z-fixed);
  transition: 0.5s;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}
.header .header_toggle {
  color: var(--first-color);
  font-size: 1.5rem;
  cursor: pointer;
}
.header .action {
  position: fixed;
  right: 50px;
}
.header .action .profile {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}
.header .action .profile img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.header .action .menu.active {
  background-color: white;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  top: 44px;
  visibility: visible;
  opacity: 1;
  display: block;
  /* Show the menu when the active class is applied */
}
.header .action .menu {
  display: none;
  /* Hide the menu by default */
  position: absolute;
  top: 120px;
  right: -40px;
  padding: 10px 20px;
  background: #fff;
  width: 300px;
  box-sizing: 0 5px 25px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  transition: 0.5s;
  visibility: hidden;
  opacity: 0;
}
.header .action .menu:before {
  content: "";
  position: absolute;
  top: -5px;
  right: 50px;
  width: 20px;
  height: 20px;
  background: #fff;
  transform: rotate(45deg);
}
.header .action .menu h3 {
  width: 100%;
  text-align: center;
  font-size: 18px;
  padding: 20px 0;
  font-weight: 700;
  color: #555;
  line-height: 1.5em;
}
.header .action .menu h3 span {
  font-size: 14px;
  color: #cecece;
  font-weight: 300;
}
.header .action .menu ul li {
  list-style: none;
  padding: 16px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
}
.header .action .menu ul li img {
  max-width: 20px;
  margin-right: 10px;
  opacity: 0.5;
  transition: 0.5s;
}
.header .action .menu ul li:hover img {
  opacity: 1;
}
.header .action .menu ul li a {
  display: inline-block;
  text-decoration: none;
  color: #555;
  font-weight: 500;
  transition: 0.5s;
}
.header .action .menu ul li:hover a {
  color: #00162e;
}
.header .header_txt {
  margin: 5px auto 0 0;
  padding: 20px;
}

/******************************************************************************* Search CSS *******************************************************************************/
.dechargeSearch,
.internatSearch {
  display: flex;
  justify-content: center;
  justify-content: space-around;
}

.box {
  width: 500px;
  height: 50px;
  background-color: white;
  border-radius: 30px;
  display: flex;
  align-items: center;
  padding: 20px;
}

.box > i {
  font-size: 20px;
  color: #2c2c2c;
}

.box > input {
  flex: 1;
  height: 40px;
  border: none;
  outline: none;
  font-size: 18px;
  padding-left: 10px;
}

.left {
  margin-right: 7rem;
}
.left .search-container {
  display: inline;
  position: relative;
}
.left .search-container #search {
  color: #000;
  text-transform: capitalize;
  position: absolute;
  top: -0.8rem;
  right: 0;
  height: 0;
  width: 0;
  font-size: 1rem;
  padding: 0 1rem;
  border: none;
  outline: none;
  border-radius: 5rem;
  transition: all 0.2s ease-in-out;
}
.left .search-container #search:hover {
  width: 20rem;
  height: 3rem;
  margin-right: 10px;
}
.left .search-container .fa-search {
  position: absolute;
  left: -5rem;
  font-size: 1.2rem;
  cursor: pointer;
  z-index: 1;
  transition: all 0.2s ease-in-out;
}
.left .search-container .fa-search:hover {
  color: #004b82;
}
.left .notification-icon .fa-bell {
  font-size: 1.2rem;
  color: black;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.left .notification-icon .fa-bell:hover {
  color: red;
}
.left .notification-icon .notification-count {
  position: absolute;
  top: 10px;
  right: 8.5rem;
  color: red;
  font-size: 12px;
  font-weight: bolder;
  -webkit-text-decoration: solid;
          text-decoration: solid;
}
.left #search-results {
  position: absolute;
  top: 100%;
  right: 60px;
  width: 25rem;
  max-height: 50rem;
  overflow-y: scroll;
  background-color: rgb(255, 255, 255);
  padding: 1rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  z-index: 2;
  display: none;
  border-radius: 0 0 0 2rem;
}
.left #search-results .search-result {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  margin-top: 0.5rem;
  border: 2px solid #c3c6ce;
  border-radius: 0.5rem;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.left #search-results .search-result:hover {
  transform: translateY(-0.25rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
.left #search-results .search-result img {
  width: 5rem;
  height: 5rem;
  margin-right: 1rem;
  border-radius: 0.5rem;
  transition: all 0.3s ease-in-out;
}
.left #search-results .search-result:hover img {
  transform: scale(1.1);
}
.left #search-results .search-result span {
  font-size: 16px;
}
.left #search-results .search-result p {
  font-size: 16px;
  display: flex;
  margin: auto;
}

/**************************************************************************************************************************************************************************/
/******************************************************************************* Navbar CSS *******************************************************************************/
/**************************************************************************************************************************************************************************/
.l-navbar {
  position: fixed;
  top: 0;
  left: -30%;
  width: var(--nav-width);
  height: 100vh;
  background-color: var(--first-color);
  padding: 0.5rem 1rem 0 0;
  transition: 0.5s;
  z-index: var(--z-fixed);
}
.l-navbar .nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}
.l-navbar .nav .nav_logo,
.l-navbar .nav .nav_link {
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  padding: 0.5rem 0 0.5rem 1.5rem;
}
.l-navbar .nav .nav_logo span,
.l-navbar .nav .nav_link span {
  width: 12rem;
}
.l-navbar .nav .nav_logo {
  margin-bottom: 2rem;
}
.l-navbar .nav .nav_logo-icon {
  font-size: 1.25rem;
  color: var(--white-color);
}
.l-navbar .nav .nav_logo-name {
  color: var(--white-color);
  font-weight: 700;
}
.l-navbar .nav .nav_link {
  position: relative;
  color: var(--first-color-light);
  margin-bottom: 1rem;
  transition: 0.3s;
}
.l-navbar .nav .nav_link:hover {
  color: var(--white-color);
}
.l-navbar .nav .nav_icon {
  font-size: 1.25rem;
}
.l-navbar .nav .show {
  left: 0;
}
.l-navbar .nav .body-pd {
  padding-left: calc(var(--nav-width) + 1rem);
}
.l-navbar .nav .active {
  color: var(--white-color);
}
.l-navbar .nav .active::before {
  content: "";
  position: absolute;
  left: 0;
  width: 2px;
  height: 32px;
  background-color: var(--white-color);
}
.l-navbar .nav .height-100 {
  height: 100vh;
}

/******************************************************************************* Navbar @media CSS *******************************************************************************/
@media screen and (min-width: 768px) {
  body {
    background-color: #ebedef;
    margin: calc(var(--header-height) + 1rem) 0 0 0;
    padding-left: calc(var(--nav-width) + 2rem);
  }
  .header {
    height: calc(var(--header-height) + 1rem);
    padding: 0 2rem 0 calc(var(--nav-width) + 2rem);
  }
  .header_img {
    width: 40px;
    height: 40px;
  }
  .header_img img {
    width: 45px;
    height: 45px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .l-navbar {
    left: 0;
    padding: 1rem 1rem 0 0;
  }
  .show {
    width: calc(var(--nav-width) + 156px);
  }
  .body-pd {
    padding-left: calc(var(--nav-width) + 188px);
  }
}
/**************************************************************************************************************************************************************************/
/******************************************************************************* Building buttons CSS *******************************************************************************/
/**************************************************************************************************************************************************************************/
.building {
  margin-top: 5rem;
  text-align: center;
}
.building button {
  transition: all 0.3s ease-in-out;
  font-family: "Dosis", sans-serif;
  width: 9rem;
  height: 50px;
  border-radius: 50px;
  outline: none;
  cursor: pointer;
  border: none;
  font-size: 16px;
  color: white;
}
.building button:hover {
  transform: translateY(3px);
  box-shadow: none;
}
.building button:active {
  opacity: 0.5;
}
.building .boys {
  background-image: linear-gradient(135deg, #9492fe 0%, #0d09f8 100%);
  box-shadow: 0 20px 30px -6px rgba(39, 138, 231, 0.5);
}
.building .girls {
  background-image: linear-gradient(135deg, #fe9492 0%, #f809e4 100%);
  box-shadow: 0 20px 30px -6px rgba(255, 0, 157, 0.5);
}

/**************************************************************************************************************************************************************************/
/******************************************************************************* Building CSS *******************************************************************************/
/**************************************************************************************************************************************************************************/
#roomMap {
  width: 1030px;
  height: 150px;
  margin: 4rem auto;
}
#roomMap #map {
  width: 100%;
  height: 100%;
}
#roomMap .building {
  fill: none;
  stroke: #333;
  stroke-width: 2px;
}
#roomMap .room {
  fill: #b3b3b3;
  stroke: #fff;
  stroke-width: 2px;
}
#roomMap .bathroom {
  fill: blue;
  stroke: #fff;
  stroke-width: 2px;
}
#roomMap .stairs {
  fill: #505050;
  stroke: #fff;
  stroke-width: 2px;
}
#roomMap .divider {
  fill: none;
  stroke: #333;
  stroke-width: 2px;
}
#roomMap .roomNumber {
  font-family: Arial, sans-serif;
  font-size: 12px;
  fill: white;
  text-anchor: middle;
}

#legend {
  width: 40rem;
  height: 7rem;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 10px;
  border: 2px solid black;
}

.legend-item {
  display: flex;
  align-items: center;
}

.legend-color {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  border: 1px solid black;
}

.legend-label {
  font-size: 14px;
  font-weight: 600;
}

/**************************************************************************************************************************************************************************/
/******************************************************************************* Popup CSS *******************************************************************************/
/**************************************************************************************************************************************************************************/
.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  font-size: 13px;
  padding: 20px;
  border-radius: 20px;
  background: #f5f5f5;
  border: 2px solid #c3c6ce;
  transition: 0.5s ease-out;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 2;
  /* Add this CSS to your existing styles */
}
.popup .submit {
  font-family: monospace;
  font-size: 0.6rem;
  color: #FAFAFA;
  padding: 7px 10px;
  border-radius: 20px;
  background: #00a050;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  cursor: pointer;
  margin: 15px 10px;
}
.popup .submit:active {
  box-shadow: none;
  transform: translate(3px, 3px);
}
.popup img {
  width: 100px;
  height: 100px;
  border: 2px solid #c3c6ce;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
.popup p {
  margin-top: 1.5rem;
  font-weight: bold;
}
.popup #popupImages {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.popup .image-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  /* Adjust as needed */
}
.popup .image-container {
  width: 23%;
  /* Adjust as needed to leave some space between images */
  box-sizing: border-box;
}
.popup .image-container img {
  width: 100%;
  height: 50%;
  border: 2px solid #c3c6ce;
  /* Add a border for separation */
  border-radius: 8px;
  /* Optional: Add border-radius for rounded corners */
}
.popup .student-container {
  border-radius: 20px;
  background: #f5f5f5;
  position: relative;
  padding: 10px;
  margin: 10px;
  width: -moz-min-content;
  width: min-content;
  border: 2px solid #c3c6ce;
  transition: 0.5s ease-out;
  overflow: visible;
  text-align: center;
}
.popup .student-container:hover {
  border-color: #008bf8;
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}
.popup .student-container:hover .student-container-button {
  transform: translate(-50%, 50%);
  opacity: 1;
  width: -moz-max-content;
  width: max-content;
  font-size: 12px;
}
.popup .student-container-button {
  transform: translate(-50%, 125%);
  width: -moz-max-content;
  width: max-content;
  border-radius: 1rem;
  border: none;
  background-color: #008bf8;
  color: #fff;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  opacity: 0;
  transition: 0.3s ease-out;
}
.popup .student-list-item {
  display: grid;
  padding: 10px;
  cursor: pointer;
}
.popup .student-list-item:hover {
  scale: 1.1;
}
.popup #studentList {
  display: flex;
  max-width: -moz-min-content;
  max-width: min-content;
}
.popup .edit-room-container {
  display: flex;
  justify-content: center;
  /* Center horizontally */
  align-items: center;
  /* Center vertically */
  margin: auto;
  padding-top: 10px;
}
.popup .edit-room-container .edit-room-button {
  margin-top: 2rem;
  position: relative;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  padding-block: 0.5rem;
  padding-inline: 1.25rem;
  background-color: rgb(0, 107, 179);
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  gap: 10px;
  font-weight: bold;
  border: 3px solid rgba(255, 255, 255, 0.3019607843);
  outline: none;
  overflow: hidden;
  font-size: 15px;
}
.popup .edit-room-container .edit-room-button .icon {
  transition: all 0.3s ease-in-out;
}
.popup .edit-room-container .edit-room-button:hover {
  transform: scale(1.05);
  border-color: rgba(255, 255, 255, 0.6);
}
.popup .edit-room-container .edit-room-button:hover .icon {
  transform: translate(4px);
}
.popup .edit-room-container .edit-room-button:hover::before {
  animation: shine 1.5s ease-out infinite;
}
.popup .edit-room-container .edit-room-button::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100%;
  background-image: linear-gradient(120deg, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0) 70%);
  top: 0;
  left: -100px;
  opacity: 0.6;
}
@keyframes shine {
  0% {
    left: -100px;
  }
  60% {
    left: 100%;
  }
  to {
    left: 100%;
  }
}

/******************************************************************************* info-popup ******************************************************************************/
.info-popup {
  --bg: #e8e8e8;
  --contrast: #e2e0e0;
  --grey: #93a1a1;
  padding: 9px;
  display: none;
  max-width: -moz-fit-content;
  max-width: fit-content;
  background-color: var(--bg);
  border-radius: 35px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #ccc;
  z-index: 999;
}
.info-popup img {
  height: 100px;
  width: 100px;
  margin: auto;
  display: grid;
  border: 2px solid #c3c6ce;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
.info-popup p {
  font-weight: bold;
}
.info-popup .name {
  margin-top: 10px;
}
.info-popup .card-inner {
  display: contents;
  font-size: 13px;
  font-weight: 500;
  text-align: center;
}
.info-popup button {
  font-size: 15px;
  max-width: -moz-min-content;
  max-width: min-content;
  padding: 10px 20px;
  margin-right: 15px;
  border: 2px solid #c3c6ce;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
.info-popup button:hover {
  scale: 1.1;
}

/**************************************************************************************************************************************************************************/
/***************************************************************************** roomList CSS *******************************************************************************/
/**************************************************************************************************************************************************************************/
.RoomList {
  margin-top: 1rem;
  /* Pagination Links */
  /* Responsive Styles */
}
.RoomList .filters {
  margin-bottom: 20px;
}
.RoomList .pagination-container {
  text-align: center;
  margin-top: 20px;
  clear: both;
}
.RoomList #data-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}
.RoomList #data-table th,
.RoomList #data-table td {
  padding: 12px;
  /* Adjusted padding for better spacing */
  text-align: left;
  border: 1px solid #ddd;
  width: 120px;
  /* Set fixed width for each cell */
}
.RoomList #data-table th {
  background-color: #f2f2f2;
  text-align: center;
}
.RoomList tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}
.RoomList .pagination {
  display: inline-block;
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: 3rem;
}
.RoomList .pagination li {
  display: inline-flex;
  margin-right: 5px;
  background-color: #428bca;
  border-radius: 50%;
  height: 2rem;
  justify-content: center;
}
.RoomList .pagination li a {
  text-decoration: none;
  color: #ffffff;
  padding: 10px;
  border-radius: 3px;
  display: flex;
  place-items: center;
  background-color: #428bca;
}
.RoomList .pagination li a:hover {
  background-color: #3071a9;
}
.RoomList .pagination li.active a {
  background-color: #245682;
}
@media screen and (max-width: 768px) {
  .RoomList th,
  .RoomList td {
    width: auto;
  }
}

.row {
  margin-top: 7rem;
  display: flex;
}

.column {
  flex: 1;
  padding: 20px;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
}

.column:nth-child(even) {
  background-color: #f2f2f2;
}

.column h2 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #333;
}

.column p {
  font-size: 20px;
  margin-bottom: 5px;
}

/**************************************************************************************************************************************************************************/
/***************************************************************************** Decharge CSS *******************************************************************************/
/**************************************************************************************************************************************************************************/
.discharge-container {
  display: flex;
  justify-content: center;
  /* Center horizontally */
  align-items: center;
  /* Center vertically */
  margin: auto;
  padding-top: 10px;
}
.discharge-container .discharge-button {
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  padding-block: 0.5rem;
  padding-inline: 1.25rem;
  background-color: rgb(0, 107, 179);
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  gap: 10px;
  font-weight: bold;
  border: 3px solid rgba(255, 255, 255, 0.3019607843);
  outline: none;
  overflow: hidden;
  font-size: 15px;
}
.discharge-container .discharge-button .icon {
  transition: all 0.3s ease-in-out;
}
.discharge-container .discharge-button:hover {
  transform: scale(1.05);
  border-color: rgba(255, 255, 255, 0.6);
}
.discharge-container .discharge-button:hover .icon {
  transform: translate(4px);
}
.discharge-container .discharge-button:hover::before {
  animation: shine 1.5s ease-out infinite;
}
.discharge-container .discharge-button::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100%;
  background-image: linear-gradient(120deg, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0) 70%);
  top: 0;
  left: -100px;
  opacity: 0.6;
}
@keyframes shine {
  0% {
    left: -100px;
  }
  60% {
    left: 100%;
  }
  to {
    left: 100%;
  }
}

.validate,
.validateDecharge {
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  padding-block: 0.5rem;
  padding-inline: 1.25rem;
  background-color: #5cb85c;
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  gap: 10px;
  font-weight: bold;
  border: 3px solid rgba(255, 255, 255, 0.3019607843);
  outline: none;
  overflow: hidden;
  font-size: 15px;
}

.validate:hover {
  color: white;
  transform: scale(1.05);
  border-color: rgba(255, 255, 255, 0.6);
}

.validate:hover::before {
  animation: shine 1.5s ease-out infinite;
}

.validate::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100%;
  background-image: linear-gradient(120deg, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0) 70%);
  top: 0;
  left: -100px;
  opacity: 0.6;
}

.blue {
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  padding-block: 0.5rem;
  padding-inline: 1.25rem;
  background-color: rgb(0, 107, 179);
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  gap: 10px;
  font-weight: bold;
  border: 3px solid rgba(255, 255, 255, 0.3019607843);
  outline: none;
  overflow: hidden;
  font-size: 15px;
}
.blue .icon {
  transition: all 0.3s ease-in-out;
}
.blue:hover {
  transform: scale(1.05);
  border-color: rgba(255, 255, 255, 0.6);
}
.blue:hover .icon {
  transform: translate(4px);
}
.blue:hover::before {
  animation: shine 1.5s ease-out infinite;
}
.blue::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100%;
  background-image: linear-gradient(120deg, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0) 70%);
  top: 0;
  left: -100px;
  opacity: 0.6;
}

@keyframes shine {
  0% {
    left: -100px;
  }
  60% {
    left: 100%;
  }
  to {
    left: 100%;
  }
}
.reject {
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  padding-block: 0.5rem;
  padding-inline: 1.25rem;
  background-color: #ca4b4b;
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  gap: 10px;
  font-weight: bold;
  border: 3px solid rgba(255, 255, 255, 0.3019607843);
  outline: none;
  overflow: hidden;
  font-size: 15px;
}

.reject {
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  padding-block: 0.5rem;
  padding-inline: 1.25rem;
  background-color: #ca4b4b;
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  gap: 10px;
  font-weight: bold;
  border: 3px solid rgba(255, 255, 255, 0.3019607843);
  outline: none;
  overflow: hidden;
  font-size: 15px;
}

.reject:hover {
  color: white;
  transform: scale(1.05);
  border-color: rgba(255, 255, 255, 0.6);
}

.reject:hover::before {
  animation: shine 1.5s ease-out infinite;
}

.reject::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100%;
  background-image: linear-gradient(120deg, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0) 70%);
  top: 0;
  left: -100px;
  opacity: 0.6;
}

.notification-dropdown {
  position: absolute;
  top: 4.5rem;
  /* Adjust as needed based on your layout */
  right: 7rem;
  width: 300px;
  /* Adjust the width as needed */
  background-color: #fff;
  border: 2px solid #c3c6ce;
  border-radius: 20px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  z-index: 1000;
  display: none;
}

.notification-item {
  padding: 10px;
  border-radius: 20px;
  border-bottom: 1px solid #ddd;
  transition: background-color 0.3s;
}

.notification-item p {
  margin: 0;
}

.notification-item:hover {
  background-color: #f5f5f5;
}

/**************************************************************************************************************************************************************************/
/******************************************************************************* Login CSS *******************************************************************************/
/**************************************************************************************************************************************************************************/
.btn {
  width: 100%;
  margin-bottom: 15px;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary,
.btn-primary:active:focus,
.btn-primary:active:hover,
.btn-primary.active:hover,
.btn-primary.active:focus {
  background-color: #004b82;
  border-color: #004b82;
}

.ibox-content {
  background-color: #ffffff;
  color: inherit;
  padding: 15px 20px 20px 20px;
  border-color: #e7eaec;
  -o-border-image: none;
  border-image: none;
  border-style: solid solid none;
  border-width: 1px 0;
}

.loginColumns {
  max-width: 700px;
}

.password-cont {
  position: relative;
}

.password-cont input {
  padding-right: 15px;
}

.password-cont i {
  position: absolute;
  top: 9px;
  right: 10px;
  color: #555;
  font-size: 15px;
  opacity: 0;
  transition: 0.3s;
}

.password-cont input:hover + i,
.password-cont i:hover {
  opacity: 1;
}

.loginColumns {
  max-width: 800px;
  margin: 0 auto;
  padding: 100px 20px 20px 20px;
}

/**************************************************************************************************************************************************************************/
/******************************************************************************* Update CSS *******************************************************************************/
/**************************************************************************************************************************************************************************/
.update-profile {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.update-profile form {
  padding: 20px;
  background-color: rgb(255, 255, 255);
  border: 2px solid #c3c6ce;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 70%;
  text-align: center;
  border-radius: 5px;
}
.update-profile form img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin-bottom: 5px;
}
.update-profile form .flex {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  gap: 15px;
}
.update-profile form .flex .inputBox {
  width: 49%;
}
.update-profile form .flex #info {
  border-right: 2px solid #c3c6ce;
  padding-right: 2rem;
}
.update-profile form .flex #pass {
  padding-left: 1rem;
  align-self: center;
}
.update-profile form .flex h3 {
  margin: 1rem 0 2rem 0;
  font-weight: 600;
}
.update-profile form .flex .required {
  display: flex;
  margin: 1rem auto 1rem auto;
  justify-content: center;
}
.update-profile form .flex .box {
  width: 100%;
  height: 55px;
  margin-bottom: 20px;
  outline: none;
  background: whitesmoke;
  font-size: 15px;
  text-align: center;
  border-radius: 5px;
  transition: 0.5s;
  transition-property: border-left, border-right, box-shadow;
  border-radius: 5px;
  border: 1px solid grey;
  padding: 12px 14px;
}
.update-profile form .flex .box:hover, .update-profile form .flex .box:focus, .update-profile form .flex .box:active {
  border-left: solid 5px #004b82;
  border-right: solid 5px #004b82;
  box-shadow: 0 0 5px #004b82;
  border-top: 2px solid #004b82;
  border-bottom: 2px solid #004b82;
  transition: 0.3s ease;
}
.update-profile form .flex .field {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #c3c6ce;
  margin-bottom: 25px;
}
.update-profile form .flex .field:hover .ua, .update-profile form .flex .field:focus-within .ua, .update-profile form .flex .field:active .ua {
  color: #004b82;
  transition: 0.3s ease;
}
.update-profile form .flex .field .ua {
  color: #828daa;
  font-size: 1.5rem;
  margin-right: 10px;
  margin-bottom: 17px;
}
.update-profile form .flex .field input[type=text]#country_selector,
.update-profile form .flex .field input[type=tel]#phone {
  height: 35px;
  font-size: 100%;
  width: 100%;
  border-radius: 5px;
  margin: 10px 0;
}
.update-profile form .btn,
.update-profile form .delete-btn {
  border-radius: 5px;
  padding: 10px 20px;
  display: block;
  text-align: center;
  cursor: pointer;
  font-size: 20px;
  width: -moz-max-content;
  width: max-content;
  margin: 10px auto 10px auto;
  color: white;
}
.update-profile form .btn {
  background-color: #004b82;
}
.update-profile form .btn:hover {
  background-color: #2980b9;
}
.update-profile form .delete-btn {
  background-color: rgba(203, 0, 20, 0.8901960784);
}
.update-profile form .delete-btn:hover {
  background-color: #f55858;
}

/**************************************************************************************************************************************************************************/
/******************************************************************************* Demande CSS *******************************************************************************/
/**************************************************************************************************************************************************************************/
.validate {
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  padding-block: 0.5rem;
  padding-inline: 1.25rem;
  background-color: #5cb85c;
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  gap: 10px;
  font-weight: bold;
  border: 3px solid rgba(255, 255, 255, 0.3019607843);
  outline: none;
  overflow: hidden;
  font-size: 15px;
}

.validate:hover {
  color: white;
  transform: scale(1.05);
  border-color: rgba(255, 255, 255, 0.6);
}

.validate:hover::before {
  animation: shine 1.5s ease-out infinite;
}

.validate::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100%;
  background-image: linear-gradient(120deg, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0) 70%);
  top: 0;
  left: -100px;
  opacity: 0.6;
}

.reject {
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  padding-block: 0.5rem;
  padding-inline: 1.25rem;
  background-color: #ca4b4b;
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  gap: 10px;
  font-weight: bold;
  border: 3px solid rgba(255, 255, 255, 0.3019607843);
  outline: none;
  overflow: hidden;
  font-size: 15px;
}

.reject:hover {
  color: white;
  transform: scale(1.05);
  border-color: rgba(255, 255, 255, 0.6);
}

.reject:hover::before {
  animation: shine 1.5s ease-out infinite;
}

.reject::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100%;
  background-image: linear-gradient(120deg, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0) 70%);
  top: 0;
  left: -100px;
  opacity: 0.6;
}

.bar {
  fill: steelblue;
}

.bar:hover {
  fill: orange;
}

.axis-x text {
  font-size: 12px;
}

.axis-y text {
  font-size: 12px;
}

.arc {
  stroke: #fff;
}

#boyschart,
#girlschart {
  display: flex;
  margin: auto;
}

#piechart-container,
#chart-container {
  margin-top: 3rem;
  margin-bottom: 3rem;
  text-align: center;
}/*# sourceMappingURL=style.css.map */