@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");

$box-shadow : 0 .5rem 1rem rgba(0, 0, 0, .2);
$border : 2px solid #c3c6ce;

:root {
    --header-height: 3rem;
    --nav-width: 68px;
    --first-color: #004b82;
    --first-color-light: #AFA5D9;
    --white-color: #F7F6FB;
    --body-font: 'Nunito', sans-serif;
    --normal-font-size: 1rem;
    --z-fixed: 100
}

html {
    // font-size: 62.5%;
    scroll-behavior: smooth;
}

*,
::before,
::after {
    box-sizing: border-box
}

body {
    position: relative;
    margin: var(--header-height) 0 0 0;
    padding: 0 1rem;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    transition: .5s
}

a {
    text-decoration: none
}

/**************************************************************************************************************************************************************************/
/******************************************************************************* Header CSS *******************************************************************************/
/**************************************************************************************************************************************************************************/
.header {
    width: 100%;
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    background-color: var(--white-color);
    z-index: var(--z-fixed);
    transition: .5s;

    .header_toggle {
        color: var(--first-color);
        font-size: 1.5rem;
        cursor: pointer
    }

    /******************************************************************************* Search CSS *******************************************************************************/

    .left {
        .search-container {
            display: inline;
            position: relative;

            #search {
                color: #000;
                text-transform: capitalize;
                position: absolute;
                top: -1.5rem;
                right: 4rem;
                height: 0;
                width: 0;
                font-size: 1rem;
                padding: 0 1rem;
                border: none;
                outline: none;
                border-radius: 5rem;

                &:hover {
                    width: 20rem;
                    height: 3.5rem;
                }

                &:focus {
                    width: 25rem;
                    height: 3.5rem;
                }
            }

            .fa-search {
                position: absolute;
                top: -.5rem;
                left: -6.6rem;
                font-size: 1.2rem;
                cursor: pointer;
                z-index: 1;

                &:hover {
                    color: black;

                }
            }
        }

        #search-results {
            position: absolute;
            top: 100%;
            right: 60px;
            width: 25rem;
            background-color: rgb(255, 255, 255, 0.3);
            padding: 1rem;
            box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
            z-index: 2;
            display: none;
            border-radius: 2rem;

            .search-result {
                display: flex;
                align-items: center;
                padding: 0.5rem;
                margin-top: 0.5rem;
                border: $border;
                border-radius: 0.5rem;
                transition: all 0.3s ease-in-out;
                cursor: pointer;

                &:hover {
                    transform: translateY(-0.25rem);
                    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
                }

                img {
                    width: 5rem;
                    height: 5rem;
                    margin-right: 1rem;
                    border-radius: 0.5rem;
                    transition: all 0.3s ease-in-out;
                }

                &:hover img {
                    transform: scale(1.1);
                }

                span {
                    font-size: 16px;
                }

                p {
                    font-size: 16px;
                    display: flex;
                    margin: auto;
                }
            }
        }
    }
}

/**************************************************************************************************************************************************************************/
/******************************************************************************* Navbar CSS *******************************************************************************/
/**************************************************************************************************************************************************************************/
.l-navbar {
    position: fixed;
    top: 0;
    left: -30%;
    width: var(--nav-width);
    height: 100vh;
    background-color: var(--first-color);
    padding: .5rem 1rem 0 0;
    transition: .5s;
    z-index: var(--z-fixed);

    .nav {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow: hidden;

        .nav_logo,
        .nav_link {
            display: grid;
            grid-template-columns: max-content max-content;
            align-items: center;
            column-gap: 1rem;
            padding: .5rem 0 .5rem 1.5rem;
        }

        .nav_logo {
            margin-bottom: 2rem;
        }

        .nav_logo-icon {
            font-size: 1.25rem;
            color: var(--white-color);
        }

        .nav_logo-name {
            color: var(--white-color);
            font-weight: 700;
        }

        .nav_link {
            position: relative;
            color: var(--first-color-light);
            margin-bottom: 1.5rem;
            transition: .3s;

            &:hover {
                color: var(--white-color);
            }
        }

        .nav_icon {
            font-size: 1.25rem;
        }

        .show {
            left: 0;
        }

        .body-pd {
            padding-left: calc(var(--nav-width) + 1rem);
        }

        .active {
            color: var(--white-color);
        }

        .active::before {
            content: '';
            position: absolute;
            left: 0;
            width: 2px;
            height: 32px;
            background-color: var(--white-color);
        }

        .height-100 {
            height: 100vh;
        }
    }
}

/******************************************************************************* Navbar @media CSS *******************************************************************************/

@media screen and (min-width: 768px) {
    body {
        margin: calc(var(--header-height) + 1rem) 0 0 0;
        padding-left: calc(var(--nav-width) + 2rem)
    }

    .header {
        height: calc(var(--header-height) + 1rem);
        padding: 0 2rem 0 calc(var(--nav-width) + 2rem)
    }

    .header_img {
        width: 40px;
        height: 40px
    }

    .header_img img {
        width: 45px;
        height: 45px;
        object-fit: cover;
    }

    .l-navbar {
        left: 0;
        padding: 1rem 1rem 0 0
    }

    .show {
        width: calc(var(--nav-width) + 156px)
    }

    .body-pd {
        padding-left: calc(var(--nav-width) + 188px)
    }
}

/**************************************************************************************************************************************************************************/
/******************************************************************************* Building buttons CSS *******************************************************************************/
/**************************************************************************************************************************************************************************/
.building {
    text-align: center;

    button {
        transition: all 0.3s ease-in-out;
        font-family: "Dosis", sans-serif;
        width: 9rem;
        height: 50px;
        border-radius: 50px;
        outline: none;
        cursor: pointer;
        border: none;
        font-size: 16px;
        color: white;

        &:hover {
            transform: translateY(3px);
            box-shadow: none;
        }

        &:active {
            opacity: 0.5;
        }
    }

    .boys {
        background-image: linear-gradient(135deg, #9492fe 0%, #0d09f8 100%);
        box-shadow: 0 20px 30px -6px rgba(39, 138, 231, 0.5);
    }

    .girls {
        background-image: linear-gradient(135deg, #fe9492 0%, #f809e4 100%);
        box-shadow: 0 20px 30px -6px rgba(255, 0, 157, 0.5);
    }

}

/**************************************************************************************************************************************************************************/
/******************************************************************************* Building CSS *******************************************************************************/
/**************************************************************************************************************************************************************************/
#roomMap {
    width: 1030px;
    height: 150px;
    margin: 4rem auto;

    #map {
        width: 100%;
        height: 100%;
    }

    .building {
        fill: none;
        stroke: #333;
        stroke-width: 2px;
    }

    .room {
        fill: #b3b3b3;
        stroke: #fff;
        stroke-width: 2px;
    }

    .bathroom {
        fill: #66ccff;
        stroke: #fff;
        stroke-width: 2px;
    }

    .stairs {
        fill: #505050;
        stroke: #fff;
        stroke-width: 2px;
    }

    .divider {
        fill: none;
        stroke: #333;
        stroke-width: 2px;
    }

    .roomNumber {
        font-family: Arial, sans-serif;
        font-size: 12px;
        fill: white;
        text-anchor: middle;
    }
}

/**************************************************************************************************************************************************************************/
/******************************************************************************* Popup CSS *******************************************************************************/
/**************************************************************************************************************************************************************************/
.popup {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    font-size: 13px;
    padding: 20px;
    border-radius: 20px;
    background: #f5f5f5;
    border: $border;
    transition: 0.5s ease-out;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 2;

    .submit {
        font-family: monospace;
        font-size: 0.6rem;
        color: #FAFAFA;
        padding: 7px 10px;
        border-radius: 20px;
        background: #00a050;
        box-shadow: $box-shadow;
        cursor: pointer;
        margin: 15px 10px;

        &:active {
            box-shadow: none;
            transform: translate(3px, 3px);
        }
    }

    img {
        width: 100px;
        height: 100px;
        border: $border;
        box-shadow: $box-shadow;
        border-radius: 10px;

    }

    p {
        margin-top: 1.5rem;
        font-weight: bold;
    }

    /* Add this CSS to your existing styles */
    #popupImages {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .image-row {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        /* Adjust as needed */
    }

    .image-container {
        width: 23%;
        /* Adjust as needed to leave some space between images */
        box-sizing: border-box;

        img {
            width: 100%;
            height: 50%;
            border: $border;
            /* Add a border for separation */
            border-radius: 8px;
            /* Optional: Add border-radius for rounded corners */
        }
    }

    .student-container {
        border-radius: 20px;
        background: #f5f5f5;
        position: relative;
        padding: 10px;
        margin: 10px;
        width: min-content;
        border: $border;
        transition: 0.5s ease-out;
        overflow: visible;
        text-align: center;

        &:hover {
            border-color: #008bf8;
            box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);

            .student-container-button {
                transform: translate(-50%, 50%);
                opacity: 1;
                width: max-content;
                font-size: 12px;
            }
        }
    }

    .student-container-button {
        transform: translate(-50%, 125%);
        width: max-content;
        border-radius: 1rem;
        border: none;
        background-color: #008bf8;
        color: #fff;
        font-size: 1rem;
        padding: .5rem 1rem;
        position: absolute;
        left: 50%;
        bottom: 0;
        opacity: 0;
        transition: 0.3s ease-out;
    }

    .student-list-item {
        display: grid;
        padding: 10px;
        cursor: pointer;

        &:hover {
            scale: 1.1;
        }
    }

    .edit-room-button {
        margin-top: 2rem;
    }

    #studentList {
        display: flex;
        max-width: min-content;

    }

    .edit-room-container {
        display: flex;
        justify-content: center;
        /* Center horizontally */
        align-items: center;
        /* Center vertically */
        margin: auto;
        padding-top: 10px;

        .edit-room-button {
            position: relative;
            transition: all 0.3s ease-in-out;
            box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
            padding-block: 0.5rem;
            padding-inline: 1.25rem;
            background-color: rgb(0 107 179);
            border-radius: 9999px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #ffff;
            gap: 10px;
            font-weight: bold;
            border: 3px solid #ffffff4d;
            outline: none;
            overflow: hidden;
            font-size: 15px;

            .icon {
                transition: all 0.3s ease-in-out;
            }

            &:hover {
                transform: scale(1.05);
                border-color: #fff9;
            }

            &:hover .icon {
                transform: translate(4px);
            }

            &:hover::before {
                animation: shine 1.5s ease-out infinite;
            }

            &::before {
                content: "";
                position: absolute;
                width: 100px;
                height: 100%;
                background-image: linear-gradient(120deg,
                        rgba(255, 255, 255, 0) 30%,
                        rgba(255, 255, 255, 0.8),
                        rgba(255, 255, 255, 0) 70%);
                top: 0;
                left: -100px;
                opacity: 0.6;
            }
        }

        @keyframes shine {
            0% {
                left: -100px;
            }

            60% {
                left: 100%;
            }

            to {
                left: 100%;
            }
        }
    }
}

/******************************************************************************* info-popup ******************************************************************************/

.info-popup {
    --bg: #e8e8e8;
    --contrast: #e2e0e0;
    --grey: #93a1a1;
    padding: 9px;
    display: none;
    max-width: fit-content;
    background-color: var(--bg);
    border-radius: 35px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #ccc;
    z-index: 999;

    img {
        height: 100px;
        width: 100px;
        margin: auto;
        display: grid;
        border: $border;
        box-shadow: $box-shadow;
        border-radius: 10px;

    }

    p {
        font-weight: bold;
    }

    .name {
        margin-top: 10px;
    }

    .card-inner {
        display: contents;
        font-size: 13px;
        font-weight: 500;
        text-align: center;
    }

    button {
        font-size: 15px;
        max-width: min-content;
        padding: 10px 20px;
        margin-right: 15px;
        border: $border;
        box-shadow: $box-shadow;
        border-radius: 10px;

        &:hover {
            scale: 1.1;
        }
    }
}

/**************************************************************************************************************************************************************************/
/***************************************************************************** roomList CSS *******************************************************************************/
/**************************************************************************************************************************************************************************/
.RoomList {
    margin-top: 1rem;

    .filters {
        margin-bottom: 20px;
    }

    .pagination-container {
        text-align: center;
        margin-top: 20px;
        clear: both;
    }

    #data-table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;

        th,
        td {
            padding: 12px;
            /* Adjusted padding for better spacing */
            text-align: left;
            border: 1px solid #ddd;
            width: 120px;
            /* Set fixed width for each cell */
        }

        th {
            background-color: #f2f2f2;
            text-align: center;
        }
    }

    tbody tr:nth-child(even) {
        background-color: #f9f9f9;
    }

    /* Pagination Links */
    .pagination {
        display: inline-block;
        padding: 0;
        margin: 0;
        list-style: none;
    }

    .pagination li {
        display: inline;
        margin-right: 5px;

        .pagination a {
            text-decoration: none;
            padding: 10px 14px;
            /* Adjusted padding for better touch interaction */
            border: 1px solid #ccc;
            background-color: #f8f8f8;
            color: #333;
            border-radius: 3px;

            &:hover {
                background-color: #e0e0e0;
            }
        }

        .pagination .active a {
            background-color: #428bca;
            color: #fff;
        }
    }

    /* Responsive Styles */
    @media screen and (max-width: 768px) {

        th,
        td {
            width: auto;
            /* Remove fixed width for smaller screens */
        }
    }
}